@charset "UTF-8";

/* =============================================================================
   Base
   ========================================================================== */

html { font-size: 100%; overflow-y: auto; -webkit-text-size-adjust: 100%; -ms-text-size-adjust: 100%; }

body { margin: 0; font-size: 13px; line-height: 1.231; background:#000;}

body, button, input, select, textarea { font-family: purista-web, sans-serif; /*color: #8F8B86;*/ }

article, aside, details, figcaption, figure, footer, header, hgroup, nav, section { display: block; }

/*[hidden] { display: none; }
*/
.wrap { margin: 0 auto; width: 980px; }
.wide { width: 100%; }
.relative { position: relative; }

::-moz-selection { background: #23201b; color: #e4dfdb; text-shadow: none; }
::selection { background: #23201b; color: #e4dfdb; text-shadow: none; }

/*.clearfix:before, .clearfix:after { content: ""; display: table; }
.clearfix:after { clear: both; }
.clearfix { zoom: 1; }*/

#container {
	width: 100%;
}

/* =============================================================================
   Lists
   ========================================================================== */

/*ul, ol { margin: 1em 0; padding: 0 0 0 40px; }
dd { margin: 0 0 0 40px; }
nav ul, nav ol { list-style: none; list-style-image: none; margin: 0; padding: 0; }*/

/* =============================================================================
   Header
   ========================================================================== */ 

#container #top {
    width: 100%;
    /*background-color: rgb(200,100,79);*/
    height: 130px;
    border-bottom: 7px solid #000;
    background: rgb(228, 223, 219);

}
	
	/* Wrapper */
	#container #top #top-inner {
    	width: 980px;
		margin: 0 auto;
	}
		
		/* Logo */
		#container #top #top-inner h1 {
			width: 185px;
           	height: 43px;
           	margin-top: 45px;
           	background-image: url('../images/main-logo.png') ;
           	float: left;
           	-webkit-transition: all .2s ease-in-out;
           	-moz-transition: all .2s ease-in-out;
          	-o-transition: all .2s ease-in-out;
          	transition: all .2s ease-in-out;
       	}
		
		#container #top #top-inner h1:hover {
			zoom: 1;
			-ms-filter:"progid:DXImageTransform.Microsoft.Alpha(Opacity=60)";
			filter: alpha(opacity=60);
			-moz-opacity:0.6;
			-khtml-opacity: 0.6;
           	opacity: 0.6;
       	}
		
		#container #top #top-inner nav {
           	float: left;
           	margin: 25px 80px;
           	position: relative;
           	z-index: 1;
		}

			ul.sdt_menu{
				margin:0;
				padding:0;
				list-style: none;
				font-family:"Myriad Pro", "Trebuchet MS", sans-serif;
				font-size:14px;
				width:520px;
			}

				ul.sdt_menu a{
				    text-decoration:none;
				    outline:none;
				}

				ul.sdt_menu li{
				    float:left;
				    width:170px;
				    height:85px;
				    position:relative;
				    cursor:pointer;
				}

					ul.sdt_menu li > a{
					    position:absolute;
					    top:0px;
					    left:0px;
					    width:170px;
					    height:85px;
					    z-index:12;
					    background:transparent url(../images/overlay.png) no-repeat bottom right;
/*					    -moz-box-shadow:0px 0px 2px #000;
					    -webkit-box-shadow:0px 0px 2px #000;
					    box-shadow:0px 0px 2px #000;*/
					}

				ul.sdt_menu li a img{
				    border:none;
				    position:absolute;
				    width:0px;
				    height:0px;
				    bottom:0px;
				    left:85px;
				    z-index:100;
				    /*-moz-box-shadow:0px 0px 4px #000;
				    -webkit-box-shadow:0px 0px 4px #000;
				    box-shadow:0px 0px 4px #000;*/
				    background:#000000;
				}

				ul.sdt_menu li span.sdt_wrap{
				    position:absolute;
				    top:25px;
				    left:0px;
				    width:170px;
				    height:60px;
				    z-index:15;
				}

				ul.sdt_menu li span.sdt_active{
				    position:absolute;
				    background:#111;
				    top:85px;
				    width:170px;
				    height:0px;
				    left:0px;
				    z-index:14;
				    -moz-box-shadow:0px 0px 4px #000 inset;
				    -webkit-box-shadow:0px 0px 4px #000 inset;
				    box-shadow:0px 0px 4px #000 inset;
				}

				ul.sdt_menu li span span.sdt_link,
				ul.sdt_menu li span span.sdt_descr,
				ul.sdt_menu li div.sdt_box a{
				    margin-left:15px;
				    text-transform:uppercase;
				    text-shadow:0.25px 0.25px 0.25px #000;
				}

				ul.sdt_menu li span span.sdt_link{
				    color:#000000;
				    font-size:24px;
				    float:left;
				    clear:both;
				}

				ul.sdt_menu li span span.sdt_descr{
				    color:#4e9bc5;
				    float:left;
				    clear:both;
				    width:155px;
				    font-size:10px;
				    letter-spacing:1px;
				}

				ul.sdt_menu li div.sdt_box{
				    display:block;
				    position:absolute;
				    width:170px;
				    overflow:hidden;
				    height:170px;
				    top:85px;
				    left:0px;
				    display:none;
				    background:#000;
				    z-index:100;
				}

				ul.sdt_menu li div.sdt_box a{
				    float:left;
				    clear:both;
				    line-height:30px;
				    color:#4e9bc5;
				}

				ul.sdt_menu li div.sdt_box a:first-child{
				    margin-top:15px;
				}

				ul.sdt_menu li div.sdt_box a:hover{
				    color:#fff;
				}


/* =============================================================================
   Splash
   ========================================================================== */
#container #splash {
	width: 100%;
	height: 450px;
	background: url('../images/toriizuka-home.png') no-repeat scroll 50% 0% #FFFFFF;
	background-size: 100% 100%;
	border-bottom: 7px solid #d4d0cc;
}
	#container #splash #splash-inner {
		width: 980px;
		height: inherit;
		position: relative;
		margin: 0 auto;
	}

		#splash-inner #divider {
			 height: 0px;
			 width: 5px;
			 margin-left: auto;
			 margin-right: auto;
			 display: block;
		}

			#splash-inner #divider img {
				 width: 2px;
				 height: 420px;
			}

		#container #splash #splash-inner h6 {
			font: bold 55px abril-display, serif;
			text-align: center;
			padding-bottom: 0px;
			margin-top: 90px;
			margin-bottom: 0px;

		}

		#splash-inner #left-section {
			width: 490px;
			height: inherit;
			float: left;
		}

		#splash-inner #right-section {
			width: 490px;
			height: inherit;
			float: right;
		}

			#splash-inner #desc {
				width: 300px;
				margin-left: auto;
				margin-right: auto;
				display: block;

			}

				#desc p {
					font: italic 30px abril-display, serif;
					text-align: center;
				}

					#desc a {
						width: 180px;
						background: no-repeat scroll 9px #E6E0D9;
						padding: 10px 23px 3px 23px;
						height: 36px;
						font-size: 36px;
						font-weight: normal;
						line-height: 30px;
						font-family: abril-display, serif;
						font-style: italic;
						text-decoration: none;
						color: black;
						border-radius: 2px;
						border-bottom: 1px solid #BAB5AF;
						box-shadow: 2px 2px 0px 0px rgb(0,0,0,0.1);
						display: block;
						margin-left: auto;
						margin-right: auto;
						text-shadow: 1px 1px 0px #F4EFE9;
						text-align: center;
					}
		
				

/* =============================================================================
   Footer
   ========================================================================== */
#container #bottom {
	width: 100%;
	height: 120px;
	background-color: #000;
	float: left;
}
	
	#container #bottom #bottom-inner {
		width: 980px;
		height: 100%;
		margin: 0 auto;
	}

		#container #bottom #bottom-inner div {
			padding-top: 36px;
		}

			#container #bottom #bottom-inner div ul {
				padding: 0;
				margin: 0;
				width: 880px;
				float: left;
			}

				#container #bottom #bottom-inner div ul li {
					float: left;
					text-transform: uppercase;
					font-size: 16px;
					font-family: purista-web, sans-serif;
					color: #918574;
					letter-spacing: 1px;
					list-style: none;
					padding-right: 63px;
				}

				#container #bottom #bottom-inner div ul li.last {
					padding: 0;
				}

				#container #bottom #bottom-inner div a {
					display:block;
					float: left;
				}

				#container #bottom #bottom-inner div a.hs3 {
					float:right;
					margin-top: 6px;
				}

				#container #bottom #bottom-inner div a img {
			      	zoom: 1;
			      	-ms-filter:"progid:DXImageTransform.Microsoft.Alpha(Opacity=30)";
			      	filter: alpha(opacity=30);
			      	-moz-opacity:0.3;
			      	-khtml-opacity: 0.3;
			   		opacity: 0.3;
					-webkit-transition: all .3s ease-in-out;
					-moz-transition: all .3s ease-in-out;
					-o-transition: all .3s ease-in-out;
					transition: all .3s ease-in-out;
			   	}
			   	#container #bottom #bottom-inner div a:hover img {
			      	-ms-filter:"progid:DXImageTransform.Microsoft.Alpha(Opacity=100)";
			      	filter: alpha(opacity=100);
			      	-moz-opacity:1;
			      	-khtml-opacity: 1;
			      	opacity: 1;
		    	}


/* =============================================================================
   toriizuka.com styles
   ========================================================================== */
.ir a {
	width: 100%;
	height: 100%;
	display: block;
}

a { color: #4a4237; -webkit-transition: all .1s ease-in-out; -moz-transition: all .1s ease-in-out; -o-transition: all .1s ease-in-out; transition: all .1s ease-in-out; text-decoration:none; }



/* =============================================================================
   QUICK-NAV
   ========================================================================== */
#quick-nav {
    position: fixed;
    display: none;
    right: 21px;
    z-index: 999;
}

	#quick-nav ul {
        padding: 0;
        margin: 0;
        list-style: none;
        list-style-type: none;
        font-size: 28px;
		line-height: 26px;
    }
        #quick-nav ul li {
            padding: 0;
            margin: 0;
            -moz-text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.5);
			-webkit-text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.5);
			text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.5);
        }

/* =============================================================================
   MY-STORY
   ========================================================================== */

#container #my-story {
	float: left;
	display: inline;
}

#container #my-story,
#container #my-story #juntorii,
#container #my-story #allan_a_martin,
#container #my-story #jun_high_school,
#container #my-story #waterloo,
#container #my-story #jun_workforce,
#container #my-story #agnesiizuka, 
#container #my-story #agnes_high_school,
#container #my-story #ryerson,
#container #my-story #agnes_workforce {
	width: 100%;
	margin: 0 auto;
}

	#container #my-story #juntorii #juntorii-inner,
	#container #my-story #allan_a_martin #allan_a_martin-inner,
	#container #my-story #jun_high_school #jun_high_school-inner,
	#container #my-story #waterloo #waterloo-inner,
	#container #my-story #jun_workforce #jun_workforce-inner,
	#container #my-story #agnesiizuka #agnesiizuka-inner,
	#container #my-story #agnes_high_school #agnes_high_school-inner,
	#container #my-story #ryerson #ryerson-inner,
	#container #my-story #agnes_workforce #agnes_workforce-inner {
		width: 980px;
		margin: 0 auto;
		position: relative;
		height: inherit;
	}

	#juntorii {
		height: 850px;
/*	 	background: url('../images/jun_main_background.jpg') center center no-repeat fixed;
*/	 	background-color: #000000;
		border-top: 7px solid #0f0d0d;
	}

		#juntorii h6 {
            font: 143px abril-display, serif;
            color: #FFF;
            font-style: italic;
            margin: 0;
            padding: 0;
            position: absolute;
            top: 70px;
        }

        #juntorii #juntorii-img {
        	position: absolute;
        	left: 490px;
        	top: 220px;
		}

			#juntorii img {
				width: 420px;
				height: auto;
			}

		#juntorii #juntorii-sub {
		    font: 29px abril-display, serif;
		    font-weight: normal;
		    font-style: italic;
		    color: #e4dfdb;
		    margin: 0;
		    padding: 0;
		    position: absolute;
		    top: 200px;
            left: 0px;
		}

		    #juntorii #juntorii-sub p {
		        position: relative;
		        -moz-text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.5);
				-webkit-text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.5);
				text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.5);
				display: block;
				width: 700px;
				height: 120px;
		    }

		        #juntorii #juntorii-sub p span {
    		        position: absolute;
    		    }

    		        #juntorii #juntorii-sub p .juntorii-span-1 { top: 0px;  }
                    #juntorii #juntorii-sub p .juntorii-span-2 { top: 35px; }
                    #juntorii #juntorii-sub p .juntorii-span-3 { top: 70px; }
/*                    #juntorii #juntorii-sub p .juntorii-span-4 { top: 105px; }
                    #juntorii #juntorii-sub p .juntorii-span-5 { top: 140px; }*/

        #juntorii #juntorii-p {
          	font-family: 'Droid Serif', serif;
			font-size: 18px;
            font-weight: normal;
            color: #e4dfdb;
            margin: 0;
            padding: 0;
            position: absolute;
            top: 380px;
            left: 0px;
            width: 380px;
            line-height: 150%;
            text-align: justify;
        }

            #juntorii #juntorii-p p {
                position: relative;
		        -moz-text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.5);
				-webkit-text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.5);
				text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.5);
            }

        #juntorii #juntorii-link {
            position: absolute;
            top: 670px;
            left: 480px;
        }

    #allan_a_martin {
	    height: 750px;
	    background: #002420 url('../images/allanamartin.jpg') center center no-repeat fixed;
	    border-top: 7px solid #000;
	}

		#allan_a_martin h6 {
	        font: 95px abril-fatface, serif;
            color: #E4DFDB;
            margin: 0 auto;
            padding: 0;
            position: absolute;
            top: 0px;
            width: inherit;
			height: 80px;
			display: block;
	    }

	    	#allan_a_martin #mid_line1, 
	    	#allan_a_martin #mid_line2,
	    	#allan_a_martin #mid_line3{
		        width: 100%;
		        text-align:center;
		    }

		    	#allan_a_martin #mid_line1 h6{
		    		top:60px;
		    		font-family: Georgia, serif;
		    		font-size: 160px;
		    		bottom: 0px;
			    }

			    #allan_a_martin #mid_line2 h6 {
			    	top:190px;
			    	margin-top: 0px;
			    	font: 80px abril-display, serif;
			    	font-style: italic;
			    }

			    #allan_a_martin #mid_line3 h6 {
			    	top:290px;
			    	margin-top: -50px;
			    	font-family: Palatino Linotype, serif;
			    	font-size:80px;
			    }

		#allan_a_martin .first-p {
	        position: absolute;
            color: #E4DFDB;
            font: 50px abril-display, serif;
            font-style: italic;
            top: 340px;
            text-align: center;
            width: 280px;
            left: 0px;
	    }

	    #allan_a_martin .second-p {
	        position: absolute;
            color: #E4DFDB;
            font: 18px purista-web, sans-serif;
            top: 380px;
            width: 500px;
            left: 380px;
            text-align:center;
            font-family: 'Droid Serif', serif;
            line-height: 160%;
	    }

	    #allan_a_martin #allan_a_martin-img {
            width: 671px;
            height: 989px;
            position: absolute;
            right: -80px;
            top: 30px;
	    }

	    #allan_a_martin #allan_a_martin-link {
	        position: absolute;
            left: 72px;
            top: 810px;
        }

    #jun_high_school {
	    height: 897px;
	    background: #281600 url('../images/portcredit.jpg') center center no-repeat fixed;
	    border-top: 7px solid #0d0d16;
	}

	    #jun_high_school #jun_high_school-img1 {
	        position: absolute;
	        top: 300px;
	        left: 550px;
	    }

	    #jun_high_school #jun_high_school-img2 {
	        position: absolute;
	        top: 550px;
	        left: 550px;
	    }

	    	#jun_high_school img {
		        width: 250px;
		        height: auto;
		    }

	    #jun_high_school #jun_high_school-h6 {
	        position: absolute;
			color: #FFFFFF;
			font: 120px abril-display, serif;
			font-style: italic;
			top: 0px;
			left: 0px;
			width: 670px;
			height: 210px;
			display: block;
			margin-top: 40px;
	    }

			#jun_high_school #jun_high_school-h6 #high_line1-1 h6 {
				margin: 0px;
				position:absolute;
				font-size: 140px;

			}

			#jun_high_school #jun_high_school-h6 #high_line1-2 h6 {
				margin: 0px;
				position:absolute;
				font-style: normal;
				left: 450px;
			}

			.chrome #jun_high_school #jun_high_school-h6 #high_line1-2 h6 {
				top: 55px;
			}

			.gecko #jun_high_school #jun_high_school-h6 #high_line1-2 h6 {
				top: 57px;
			}

			#jun_high_school #jun_high_school-h6 #high_line2 h6 {
				margin: 0px;
				position:absolute;
				font-style: normal;
				top: 140px;
			}

		#jun_high_school #jun_high_school-sub {
		    position: absolute;
            color: #E4DFDB;
            font: 36px abril-display, serif;
            font-weight: normal;
            font-style: italic;
            width: 500px;
            left: 0px;
			top: 300px;
		}

		#jun_high_school #jun_high_school-p {
		    color: white;
            position: absolute;
            left: 0px;
            font-family: 'Droid Serif', serif;
            font-size: 18px;
            line-height: 140%;
            top: 550px;
            width: 400px;
        }

    #waterloo {
		height: 700px;
		background: #003040 url('../images/waterloo-full.jpg') center center no-repeat fixed;
	    border-top: 7px solid #595959;
	}
	    #waterloo #waterloo-h6 {
	        position: absolute;
            color: white;
            top: 10px;
            margin: 0;
            padding: 0;
	    }

            #waterloo #waterloo-h6 #waterloo-first h6 {
            	font: 80px abril-fatface, serif;
	            position: absolute;
	            margin: 0px;
				width: 100px;
				height: 180px;
				left: 720px;
				top: 18px;
            }

            #waterloo #waterloo-h6 #waterloo-second h6 {
            	font: 70px abril-display, serif;
            	font-style: italic;
	            position: absolute;
	            margin: 0px;
				width: 50px;
				height: 180px;
				top: 26px;
				left: 915px;
            }

            .gecko #waterloo #waterloo-h6 #waterloo-second h6 {
            	top: 33px;
            }

            #waterloo #waterloo-h6 #waterloo-third h6 {
            	font: 150px abril-fatface, serif;
	            position: absolute;
	            margin: 0px;
				width: 520px;
				height: 180px;
				top: 90px;
				left: 170px;
            }

        #waterloo #waterloo-sub {
	        position: absolute;
            -moz-text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.5);
            -webkit-text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.5);
            text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.5);
            font: 36px abril-display, serif;
            color: #E4DFDB;
            top: 250px;
            font-style: italic;
            width: 600px;
            left: 370px;
	    }

	    #waterloo #waterloo-p1 p{
	        position: absolute;
            font: 18px 'Droid Serif', serif;
            line-height: 140%;
            color: #E4DFDB;
            top: 450px;
            left: 370px;
            width: 600px;
	    }

		#waterloo #waterloo-p2 {
	        position: absolute;
            font: 16px purista-web, sans-serif;
            color: #E4DFDB;
            top: 700px;
            left: 370px;
            width: 300px;
	    }

	    #waterloo #waterloo-link {
	        position: absolute;
            bottom: 390px;
	    }

	    #waterloo #waterloo-img {
	        position: absolute;
	        top: 300px;
	        left: 0px;
	    }
	    	#waterloo #waterloo-img img {
	    		width: 300px;
	    		height: auto;
	    	}

	#jun_workforce {
		height: 1300px;
		background: #240000 url('../images/workforce.jpg') center center no-repeat fixed;
	    border-top: 7px solid #595959;
	}
	    #jun_workforce #jun_workforce-h6 {
	        position: absolute;
            color: white;
            top: 10px;
            margin: 0;
            padding: 0;
	    }

            #jun_workforce #jun_workforce-h6 #jun_workforce-first h6 {
            	font: 80px abril-fatface, serif;
	            position: absolute;
	            margin: 0px;
				width: 520px;
				height: 180px;
				left: 370px;
				top: 18px;
            }

            #jun_workforce #jun_workforce-h6 #jun_workforce-second h6 {
            	font: 70px abril-display, serif;
            	font-style: italic;
	            position: absolute;
	            margin: 0px;
				width: 520px;
				height: 180px;
				top: 90px;
				left: 400px;
            }

            #jun_workforce #jun_workforce-h6 #jun_workforce-third h6 {
            	font: 150px abril-fatface, serif;
	            position: absolute;
	            margin: 0px;
				width: 520px;
				height: 180px;
				top: 140px;
				left: 20px;
            }

        #jun_workforce #jun_workforce-sub {
	        position: absolute;
            -moz-text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.5);
            -webkit-text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.5);
            text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.5);
            font: 36px abril-display, serif;
            color: #E4DFDB;
            top: 280px;
            font-style: italic;
            text-align: justify;
	    }

	    #jun_workforce h5 {
	    	font: 36px 'Droid Serif', serif;
	    	color: #E4DFDB;
	    }

	    #jun_workforce p {
	    	position: absolute;
	    	top: 100px;
	    }

	    #jun_workforce #csdc {
	    	position: absolute;
            font: 18px 'Droid Serif', serif;
            line-height: 140%;
            color: #E4DFDB;
            width: 500px;
            top: 300px;
            left: 0px;
	    }

		#jun_workforce #et{
			position: absolute;
            font: 18px 'Droid Serif', serif;
            line-height: 140%;
            color: #E4DFDB;
            width: 500px;
            top: 550px;
            left: 0px;
	    }

		#jun_workforce #intuit {
			position: absolute;
            font: 18px 'Droid Serif', serif;
            line-height: 140%;
            color: #E4DFDB;
            width: 500px;
            top: 800px;
            left: 0px;
	    }

	    #jun_workforce #lumos {
			position: absolute;
            font: 18px 'Droid Serif', serif;
            line-height: 140%;
            color: #E4DFDB;
            width: 500px;
            top: 1020px;
            left: 0px;
	    }

	    #jun_workforce #jun_workforce-link {
	        position: absolute;
            bottom: 390px;
	    }

	    #jun_workforce #csdc-img {
	        position: absolute;
	        top: 400px;
	        left: 600px;
	    }

	    	#jun_workforce #csdc-img img {
		        width: 300px;
		        height: auto;
		    }

	    #jun_workforce #employtouch-img {
	        position: absolute;
	        top: 650px;
	        left: 600px;
	    }

	    	#jun_workforce #employtouch-img img {
		        width: 400px;
		        height: auto;
		    }

	    #jun_workforce #intuit-img {
	        position: absolute;
	        top: 880px;
	        left: 600px;
	    }

	    	#jun_workforce #intuit-img img {
		        width: 400px;
		        height: auto;
		    }

		#jun_workforce #lumos-img {
	        position: absolute;
	        top: 1080px;
	        left: 700px;
	    }

	    	#jun_workforce #lumos-img img {
		        width: 150px;
		        height: auto;
		    }

/* Agnes specific */
	#agnesiizuka {
		height: 820px;
	 	background-color: rgb(35,46,57);
		border-top: 7px solid #0f0d0d;
	}

		#agnesiizuka h6 {
            font: 130px abril-display, serif;
            color: #FFFFFF;
            font-style: italic;
            margin: 0;
            padding: 0;
            position: absolute;
            top: 70px;
            width: inherit;
            text-align: right;
        }

        #agnesiizuka #agnesiizuka-img {
        	position: absolute;
        	left: 30px;
        	top: 280px;
		}

			#agnesiizuka img {
				width: 400px;
				height: auto;
			}

		#agnesiizuka #agnesiizuka-sub {
		    font: 29px abril-display, serif;
		    font-weight: normal;
		    font-style: italic;
		    color: #FFFFFF;
		    margin: 0;
		    padding: 0;
		    position: absolute;
		    top: 200px;
            left: 0px;
            width: inherit;
		}

		    #agnesiizuka #agnesiizuka-sub p {
		        position: relative;
		        -moz-text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.25);
				-webkit-text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.25);
				text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.25);
				display: block;
				width: inherit;
				height: 120px;

		    }

		        #agnesiizuka #agnesiizuka-sub p span {
    		        position: absolute;
    		        width: inherit;
    		        text-align: right;
    		    }

    		        #agnesiizuka #agnesiizuka-sub p .agnesiizuka-span-1 { top: 0px;  }
                    #agnesiizuka #agnesiizuka-sub p .agnesiizuka-span-2 { top: 35px; }
                    #agnesiizuka #agnesiizuka-sub p .agnesiizuka-span-3 { top: 70px; }
/*                    #juntorii #juntorii-sub p .juntorii-span-4 { top: 105px; }
                    #juntorii #juntorii-sub p .juntorii-span-5 { top: 140px; }*/

        #agnesiizuka #agnesiizuka-p {
          	font-family: 'Droid Serif', serif;
			font-size: 18px;
            font-weight: normal;
            color: #FFFFFF;
            margin: 0;
            padding: 0;
            position: absolute;
            top: 380px;
            left: 600px;
            width: 380px;
            line-height: 150%;
            text-align: justify;
        }

            #agnesiizuka #agnesiizuka-p p {
                position: relative;
		        -moz-text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.25);
				-webkit-text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.25);
				text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.25);
            }

        #agnesiizuka #agnesiizuka-link {
            position: absolute;
            top: 670px;
            left: 480px;
        }


    #agnes_high_school {
	    height: 850px;
/*	    background: #281600 url('../images/portcredit.jpg') center center no-repeat fixed;
*/	    background-color: #2a2a2a;
	    border-top: 7px solid #0d0d16;
	}

	    #agnes_high_school #agnes_high_school-img1 {
	        position: absolute;
	        top: 300px;
	        left: 550px;
	    }

	    #agnes_high_school #agnes_high_school-img2 {
	        position: absolute;
	        top: 550px;
	        left: 550px;
	    }

	    	#agnes_high_school img {
		        width: 250px;
		        height: auto;
		    }

	    #agnes_high_school #agnes_high_school-h6 {
	        position: absolute;
			color: #FFFFFF;
			font: 120px abril-display, serif;
			font-style: italic;
			top: 0px;
			left: 0px;
			width: 670px;
			height: 210px;
			display: block;
			margin-top: 40px;
	    }

			#agnes_high_school #agnes_high_school-h6 #high_line1-1 h6 {
				margin: 0px;
				position:absolute;
				font-size: 140px;

			}

			#agnes_high_school #agnes_high_school-h6 #high_line1-2 h6 {
				margin: 0px;
				position:absolute;
				font-style: normal;
				left: 500px;
			}

			.chrome #agnes_high_school #agnes_high_school-h6 #high_line1-2 h6 {
				top: 55px;
			}

			.gecko #agnes_high_school #agnes_high_school-h6 #high_line1-2 h6 {
				top: 57px;
			}

			#agnes_high_school #agnes_high_school-h6 #high_line2 h6 {
				margin: 0px;
				position:absolute;
				font-style: normal;
				top: 140px;
			}

		#agnes_high_school #agnes_high_school-sub {
		    position: absolute;
            color: #E4DFDB;
            font: 36px abril-display, serif;
            font-weight: normal;
            font-style: italic;
            width: 500px;
            left: 0px;
			top: 280px;
		}

		#agnes_high_school #agnes_high_school-p {
		    color: white;
            position: absolute;
            left: 0px;
            font-family: 'Droid Serif', serif;
            font-size: 18px;
            line-height: 140%;
            top: 450px;
            width: 500px;
            text-align: justify;
        }


    #ryerson {
		height: 700px;
		background: #003040 url('../images/waterloo-full.jpg') center center no-repeat fixed;
	    border-top: 7px solid #595959;
	}
	    #ryerson #ryerson-h6 {
	        position: absolute;
            color: white;
            top: 10px;
            margin: 0;
            padding: 0;
	    }

            #ryerson #ryerson-h6 #ryerson-first h6 {
            	font: 80px abril-fatface, serif;
	            position: absolute;
	            margin: 0px;
				width: 100px;
				height: 180px;
				left: 700px;
				top: 18px;
            }

            #ryerson #ryerson-h6 #ryerson-second h6 {
            	font: 70px abril-display, serif;
            	font-style: italic;
	            position: absolute;
	            margin: 0px;
				width: 50px;
				height: 180px;
				top: 26px;
				left: 915px;
            }

            .gecko #ryerson #ryerson-h6 #ryerson-second h6 {
            	top: 33px;
            }

            #ryerson #ryerson-h6 #ryerson-third h6 {
            	font: 150px abril-fatface, serif;
	            position: absolute;
	            margin: 0px;
				width: 520px;
				height: 180px;
				top: 90px;
				left: 290px;
            }

        #ryerson #ryerson-sub {
	        position: absolute;
            -moz-text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.5);
            -webkit-text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.5);
            text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.5);
            font: 36px abril-display, serif;
            color: #E4DFDB;
            top: 250px;
            font-style: italic;
            width: 600px;
            left: 370px;
            text-align: right;
            flaot: right;
	    }

	    #ryerson #ryerson-p1 p{
	        position: absolute;
            font: 18px 'Droid Serif', serif;
            line-height: 140%;
            color: #E4DFDB;
            top: 450px;
            left: 370px;
            width: 600px;
	    }

		#ryerson #ryerson-p2 {
	        position: absolute;
            font: 16px purista-web, sans-serif;
            color: #E4DFDB;
            top: 700px;
            left: 370px;
            width: 300px;
	    }

	    #ryerson #ryerson-link {
	        position: absolute;
            bottom: 390px;
	    }

	    #ryerson #ryerson-img {
	        position: absolute;
	        top: 300px;
	        left: 0px;
	    }
	    	#ryerson #ryerson-img img {
	    		width: 300px;
	    		height: auto;
	    	}


	#agnes_workforce {
		height: 700px;
/*		background: #240000 url('../images/workforce.jpg') center center no-repeat fixed;
*/	    background-color: #000000;
	    border-top: 7px solid #595959;
	}
	    #agnes_workforce #agnes_workforce-h6 {
	        position: absolute;
            color: white;
            top: 10px;
            margin: 0;
            padding: 0;
	    }

            #agnes_workforce #agnes_workforce-h6 #agnes_workforce-first h6 {
            	font: 80px abril-fatface, serif;
	            position: absolute;
	            margin: 0px;
				width: 520px;
				height: 180px;
				left: 340px;
				top: 18px;
            }

            #agnes_workforce #agnes_workforce-h6 #agnes_workforce-second h6 {
            	font: 70px abril-display, serif;
            	font-style: italic;
	            position: absolute;
	            margin: 0px;
				width: 520px;
				height: 180px;
				top: 90px;
				left: 400px;
            }

            #agnes_workforce #agnes_workforce-h6 #agnes_workforce-third h6 {
            	font: 150px abril-fatface, serif;
	            position: absolute;
	            margin: 0px;
				width: 520px;
				height: 180px;
				top: 140px;
				left: 20px;
            }

        #agnes_workforce #agnes_workforce-sub {
	        position: absolute;
            -moz-text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.5);
            -webkit-text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.5);
            text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.5);
            font: 36px abril-display, serif;
            color: #E4DFDB;
            top: 280px;
            font-style: italic;
            text-align: justify;
	    }

	    #agnes_workforce h5 {
	    	font: 36px 'Droid Serif', serif;
	    	color: #E4DFDB;
	    }

	    #agnes_workforce p {
	    	position: absolute;
	    	top: 100px;
	    }

	    #agnes_workforce #ppc {
	    	position: absolute;
            font: 18px 'Droid Serif', serif;
            line-height: 140%;
            color: #E4DFDB;
            width: 500px;
            top: 300px;
            left: 0px;
	    }

	    #agnes_workforce #agnes_workforce-link {
	        position: absolute;
            bottom: 390px;
	    }

	    #agnes_workforce #ppc-img {
	        position: absolute;
	        top: 400px;
	        left: 600px;
	    }

	    	#agnes_workforce #ppc-img img {
		        width: 300px;
		        height: auto;
		    }

/* =============================================================================
   MY-WORK
   ========================================================================== */
#container #my-work {
	float: left;
	display: inline;
}

#container #my-work,
#container #my-work #work-intro,
#container #my-work #work-straight-comfort,
#container #my-work #work-portable-n64,
#container #my-work #work-toriizuka,
#container #my-work #work-school,
#container #my-work #work-future {
	width: 100%;
	margin: 0 auto;
}

	#container #my-work #work-intro #work-intro-inner {
		width: 980px;
		margin: 0 auto;
		position: relative;
		height: inherit;
	}

	#work-intro {
		height: 600px;
	 	background: #000 url('../images/torii-work.jpg') center center no-repeat fixed;
		border-top: 7px solid #0f0d0d;
	}

		#work-intro h6 {
            font: 95px abril-fatface, serif;
            color: #E4DFDB;
            margin: 0 auto;
            padding: 0;
            position: absolute;
            width: inherit;
			height: 80px;
			display: block;
        }

        	#work-intro #work-first,
        	#work-intro #work-second {
        		width: 100%;
		        text-align:center;
        	}

        	#work-intro #work-first h6 {
    			font-family: Georgia, serif;
	    		font-size: 100px;
	    		top: 10px;
        	}

        	#work-intro #work-second h6 {
        		top:100px;
		    	margin-top: 0px;
		    	font: 130px abril-display, serif;
		    	font-style: italic;
        	}

        #work-intro #work-intro-img {
        	margin: 0;
            padding: 0;
            position: absolute;
            top: 200px;
            right: -70px;
            width: 613px;
            height: 840px;
/*            background: url('../images/wade-dwyanewade.png') transparent no-repeat;
*/		}

		#work-intro #work-intro-sub {
		    font: 29px abril-display, serif;
		    font-weight: normal;
		    font-style: italic;
		    color: #e4dfdb;
		    position: relative;
		    top: 250px;
		    margin-left: auto;
		    margin-right: auto;
		    width: 800px;
		}

		    #work-intro #work-intro-sub p {
		        position: relative;
		        -moz-text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.5);
				-webkit-text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.5);
				text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.5);
				display: block;
				height: 120px;
				text-align: center;
		    }

/*		        #work-intro #work-intro-sub p span {
    		        position: absolute;
    		    }

    		        #work-intro #work-intro-sub p .work-intro-span-1 { top: 0px;  }
                    #work-intro #work-intro-sub p .work-intro-span-2 { top: 35px; }
                    #work-intro #work-intro-sub p .work-intro-span-3 { top: 70px; }*/

        #work-intro #work-intro-p {
          	font-family: 'Droid Serif', serif;
			font-size: 18px;
            font-weight: normal;
            color: #e4dfdb;
            margin-left: auto;
            margin-right: auto;
            position: relative;
            top: 280px;
            width: 900px;
            line-height: 150%;
            text-align: justify;
        }

            #work-intro #work-intro-p p {
                position: relative;
		        -moz-text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.5);
				-webkit-text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.5);
				text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.5);
            }

    #container #my-work #work-straight-comfort #work-straight-comfort-inner {
		width: 980px;
		margin: 0 auto;
		position: relative;
		height: inherit;
	}

	#work-straight-comfort {
		height: 550px;
	 	background: #000040 url('../images/straightcomfort.jpg') center center no-repeat fixed;
		border-top: 7px solid #0f0d0d;
	}

		#work-straight-comfort h6 {
            font: 100px abril-display, serif;
            font-style: bold;
            color: #E4DFDB;
            margin: 0 auto;
            padding: 0;
            position: absolute;
            width: inherit;
			height: 80px;
			display: block;
			top: 30px;
        }

        #work-straight-comfort #straight-comfort-img {
            position: absolute;
            top: 100px;
            left: 550px;
		}

			#work-straight-comfort #straight-comfort-img img {
	            width: 200px;
	            height: auto;
			}

		#work-straight-comfort #work-straight-comfort-sub {
		    font: 29px abril-display, serif;
		    font-weight: normal;
		    font-style: italic;
		    color: #e4dfdb;
		    margin: 0;
		    padding: 0;
		    position: absolute;
		    top: 120px;
            left: 0px;
		}

		    #work-straight-comfort #work-straight-comfort-sub p {
		        position: relative;
		        -moz-text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.5);
				-webkit-text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.5);
				text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.5);
				display: block;
				width: inherit;
				height: 120px;
		    }

        #work-straight-comfort #work-straight-comfort-p {
          	font-family: 'Droid Serif', serif;
			font-size: 18px;
            font-weight: normal;
            color: #e4dfdb;
            margin: 0;
            padding: 0;
            position: absolute;
            top: 200px;
            left: 0px;
            width: inherit;
            line-height: 150%;
            text-align: justify;
        }

            #work-straight-comfort #work-straight-comfort-p p {
                position: relative;
		        -moz-text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.5);
				-webkit-text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.5);
				text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.5);
            }

        #work-straight-comfort #work-straight-comfort-status {
        	position: absolute;
        	top: 450px;
        	font-family: 'Droid Serif', serif;
        	font-size: 18px;
        	color:white;
        }

	        #work-straight-comfort #work-straight-comfort-status p .work-straight-comfort-status-title {
	        	font-style:italic;
	        }

	        #work-straight-comfort #work-straight-comfort-status p .work-straight-comfort-status-stat {
	        	
	        }

	#container #my-work #work-portable-n64 #work-portable-n64-inner {
		width: 980px;
		margin: 0 auto;
		position: relative;
		height: inherit;
	}

	#work-portable-n64 {
		height: 500px;
		background: #000000 url('../images/n64.jpg') center center no-repeat fixed;
		border-top: 7px solid #0f0d0d;
	}

		#work-portable-n64 h6 {
            font: 100px abril-display, serif;
            font-style: bold;
            color: #E4DFDB;
            margin: 0 auto;
            padding: 0;
            position: absolute;
            width: inherit;
			height: 80px;
			display: block;
			top: 30px;
        }

        #work-portable-n64 #work-portable-n64-img {
        	margin: 0;
            padding: 0;
            position: absolute;
            top: 200px;
            right: -70px;
            width: 613px;
            height: 840px;
/*            background: url('../images/wade-dwyanewade.png') transparent no-repeat;
*/		}

		#work-portable-n64 #work-portable-n64-sub {
		    font: 29px abril-display, serif;
		    font-weight: normal;
		    font-style: italic;
		    color: #e4dfdb;
		    margin: 0;
		    padding: 0;
		    position: absolute;
		    top: 120px;
            left: 0px;
		}

		    #work-portable-n64 #work-portable-n64-sub p {
		        position: relative;
		        -moz-text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.5);
				-webkit-text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.5);
				text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.5);
				display: block;
				width: inherit;
				height: 120px;
		    }

        #work-portable-n64 #work-portable-n64-p {
          	font-family: 'Droid Serif', serif;
			font-size: 18px;
            font-weight: normal;
            color: #e4dfdb;
            margin: 0;
            padding: 0;
            position: absolute;
            top: 200px;
            left: 0px;
            width: inherit;
            line-height: 150%;
            text-align: justify;
        }

            #work-portable-n64 #work-portable-n64-p p {
                position: relative;
		        -moz-text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.5);
				-webkit-text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.5);
				text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.5);
            }

            #work-portable-n64 #work-portable-n64-p a {
                font-weight: bold;
                text-decoration: underline;
                color: #FFF;
            }

            #work-portable-n64 #work-portable-n64-p a:hover {
                color: #FF0;
            }

        #work-portable-n64 #work-portable-n64-status {
        	position: absolute;
        	top: 400px;
        	font-family: 'Droid Serif', serif;
        	font-size: 18px;
        	color:white;
        }

	        #work-portable-n64 #work-portable-n64-status p .work-portable-n64-status-title {
	        	font-style:italic;
	        }

	        #work-portable-n64 #work-portable-n64-status p .work-portable-n64-status-stat {
	        	
	        }

	#container #my-work #work-toriizuka #work-toriizuka-inner {
		width: 980px;
		margin: 0 auto;
		position: relative;
		height: inherit;
	}

	#work-toriizuka {
		height: 600px;
		background: #000000 url('../images/toriizuka-work.jpg') center center no-repeat fixed;
		border-top: 7px solid #0f0d0d;
	}

		#work-toriizuka h6 {
            font: 100px abril-display, serif;
            font-style: bold;
            color: #E4DFDB;
            margin: 0 auto;
            padding: 0;
            position: absolute;
            width: inherit;
			height: 80px;
			display: block;
			top: 30px;
        }

        #work-toriizuka #toriizuka-img {
            position: absolute;
            top: 250px;
            left: 550px;
		}

			#work-toriizuka #toriizuka-img img {
	            width: 400px;
	            height: auto;
        		box-shadow: 3px 3px 0 0 rgba(0, 0, 0, 0.1);
        		border: 10px solid #000000;
			}

		#work-toriizuka #work-toriizuka-sub {
		    font: 29px abril-display, serif;
		    font-weight: normal;
		    font-style: italic;
		    color: #e4dfdb;
		    margin: 0;
		    padding: 0;
		    position: absolute;
		    top: 120px;
            left: 0px;
		}

		    #work-toriizuka #work-toriizuka-sub p {
		        position: relative;
		        -moz-text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.5);
				-webkit-text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.5);
				text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.5);
				display: block;
				width: 800px;
				height: 120px;
		    }

        #work-toriizuka #work-toriizuka-p {
          	font-family: 'Droid Serif', serif;
			font-size: 18px;
            font-weight: normal;
            color: #e4dfdb;
            margin: 0;
            padding: 0;
            position: absolute;
            top: 250px;
            left: 0px;
            width: 450px;
            line-height: 150%;
            text-align: justify;
        }

            #work-toriizuka #work-toriizuka-p p {
                position: relative;
		        -moz-text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.5);
				-webkit-text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.5);
				text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.5);
            }

        #work-toriizuka #work-toriizuka-status {
        	position: absolute;
        	top: 450px;
        	font-family: 'Droid Serif', serif;
        	font-size: 18px;
        	color:white;
        }

	        #work-toriizuka #work-toriizuka-status p .work-toriizuka-status-title {
	        	font-style:italic;
	        }

	        #work-toriizuka #work-toriizuka-status p .work-toriizuka-status-stat {
	        	
	        }

	#container #my-work #work-school #work-school-inner {
		width: 980px;
		margin: 0 auto;
		position: relative;
		height: inherit;
	}

	#work-school {
		height: 920px;
		background: #000000 url('../images/school.jpg') center center no-repeat fixed;
		border-top: 7px solid #0f0d0d;
	}

		#work-school h6 {
            font: 100px abril-display, serif;
            font-style: bold;
            color: #E4DFDB;
            margin: 0 auto;
            padding: 0;
            position: absolute;
            width: inherit;
			height: 80px;
			display: block;
			top: 30px;
        }

        #work-school #work-school-img {
        	margin: 0;
            padding: 0;
            position: absolute;
            top: 200px;
            right: -70px;
            width: 613px;
            height: 840px;
/*            background: url('../images/wade-dwyanewade.png') transparent no-repeat;
*/		}

		#work-school #work-school-sub {
		    font: 29px abril-display, serif;
		    font-weight: normal;
		    font-style: italic;
		    color: #e4dfdb;
		    margin: 0;
		    padding: 0;
		    position: absolute;
		    top: 120px;
            left: 0px;
		}

		    #work-school #work-school-sub p {
		        position: relative;
		        -moz-text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.5);
				-webkit-text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.5);
				text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.5);
				display: block;
				width: inherit;
				height: 120px;
		    }

        #work-school #work-school-p {
          	font-family: 'Droid Serif', serif;
			font-size: 18px;
            font-weight: normal;
            color: #e4dfdb;
            margin: 0;
            padding: 0;
            position: absolute;
            top: 250px;
            left: 0px;
            width: inherit;
            line-height: 150%;
            text-align: justify;
            position: relative;
	        -moz-text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.5);
			-webkit-text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.5);
			text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.5);
        }

            #work-school #work-school-p #work-school-1 {
            	position: absolute;
            	top: 30px;
            }

            #work-school #work-school-p #work-school-2 {
            	position: absolute;
            	top: 200px;
            }

            #work-school #work-school-p #work-school-3 {
            	position: absolute;
            	top: 350px;
            }

            	#work-school #work-school-p .work-school-title{
	            	font: italic 29px abril-display,serif;
	            }

	            #work-school #work-school-p .work-school-class{
	            	font-weight: bold;
	            }

	            #work-school #work-school-p .work-school-desc{
	            	
	            }

        #work-school #work-school-status {
        	position: absolute;
        	top: 850px;
        	font-family: 'Droid Serif', serif;
        	font-size: 18px;
        	color:white;
        }

	        #work-school #work-school-status p .work-school-status-title {
	        	font-style:italic;
	        }

	        #work-school #work-school-status p .work-school-status-stat {
	        	
	        }

	#container #my-work #work-future #work-future-inner {
		width: 980px;
		margin: 0 auto;
		position: relative;
		height: inherit;
	}

	#work-future {
		height: 550px;
		background: #000000 url('../images/future.jpg') center center no-repeat fixed;
		border-top: 7px solid #0f0d0d;
	}

		#work-future h6 {
            font: 100px abril-display, serif;
            font-style: bold;
            color: #E4DFDB;
            margin: 0 auto;
            padding: 0;
            position: absolute;
            width: inherit;
			height: 80px;
			display: block;
			top: 30px;
        }

        #work-future #work-future-img {
        	margin: 0;
            padding: 0;
            position: absolute;
            top: 200px;
            right: -70px;
            width: 613px;
            height: 840px;
/*            background: url('../images/wade-dwyanewade.png') transparent no-repeat;
*/		}

		#work-future #work-future-sub {
		    font: 29px abril-display, serif;
		    font-weight: normal;
		    font-style: italic;
		    color: #e4dfdb;
		    margin: 0;
		    padding: 0;
		    position: absolute;
		    top: 120px;
            left: 0px;
		}

		    #work-future #work-future-sub p {
		        position: relative;
		        -moz-text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.5);
				-webkit-text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.5);
				text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.5);
				display: block;
				width: inherit;
				height: 120px;
		    }

        #work-future #work-future-p {
          	font-family: 'Droid Serif', serif;
			font-size: 18px;
            font-weight: normal;
            color: #e4dfdb;
            margin: 0;
            padding: 0;
            position: absolute;
            top: 250px;
            left: 0px;
            width: inherit;
            line-height: 150%;
            text-align: justify;
        }

            #work-future #work-future-p #work-future-1 {
            	position: absolute;
            	top: 10px;
            }

            #work-future #work-future-p #work-future-2 {
            	position: absolute;
            	top: 120px;
            }

            	#work-future #work-future-p .work-future-title{
	            	font: italic 29px abril-display,serif;
	            }

	            #work-future #work-future-p .work-future-desc{
	            	
	            }

        #work-future #work-future-status {
        	position: absolute;
        	top: 480px;
        	font-family: 'Droid Serif', serif;
        	font-size: 18px;
        	color:white;
        }

	        #work-future #work-future-status p .work-future-status-title {
	        	font-style:italic;
	        }

	        #work-future #work-future-status p .work-future-status-stat {
	        	
	        }


#container #contact-section {
	margin: 0 auto;
	width: 100%;
	float: left;
	display: inline;
	background: url('../images/toriizuka-home.png') no-repeat scroll 50% 0% #FFFFFF;
	background-size: 100% 100%;
}

	#container #contact-section #contact-me {
		margin: 0 auto;
		width: 100%;
		height: 600px;		
	}

		#container #contact-section #contact-me #contact-me-inner {
			background-color: #F2F2F2;
			height: 500px;
			margin: 0 auto;
			position: relative;
			width: 980px;
			padding: 20px;
		}

			#contact-me h6 {
	            font: 100px abril-display, serif;
	            font-style: italic;
	            margin: 0;
	            padding: 0;
	            position: absolute;
	            top: 40px;
	        }

	        #contact-me #contact-me-p {
	        	position: absolute;
	        	top: 140px;
	        	font-family: 'Droid Serif', serif;
	        	font-size: 18px;
	            font-weight: normal;
	        }

	        #contact-me #contact-me-sources {
	        	display: block;
	        	float: left;
	        	margin-top: 10px;
	        	height: inherit;
	        	width: inherit;
	        	position: absolute;
	        	top: 200px;
	        }

	        	#contact-me #contact-me-sources a img {
	        		width: 460px;
	        		height: auto;
	        		margin: 4px;
	        		box-shadow: 3px 3px 0 0 rgba(0, 0, 0, 0.1);
	        		border: 5px solid #000000;
	        	}

	        	#contact-me #contact-me-sources a img:hover {
	        		zoom: 1;
					-ms-filter:"progid:DXImageTransform.Microsoft.Alpha(Opacity=60)";
					filter: alpha(opacity=60);
					-moz-opacity:0.6;
					-khtml-opacity: 0.6;
	           		opacity: 0.6;
	           		border: 5px solid #7e7e7e;
	        	}

/* =============================================================================
   ABOUT
   ========================================================================== */
#about-section {
	margin: 0 auto;
	width: 100%;
	float: left;
	display: inline;
	background: url('../images/toriizuka-home.png') no-repeat scroll 50% 0% #FFFFFF;
	background-size: 100% 100%;
}

	#about-main {
		margin: 0 auto;
		width: 100%;
		height: 600px;		
	}

		#about-main #about-main-inner {
			background-color: white;
			height: auto;
			margin: 0 auto;
			position: relative;
			width: 980px;
			padding: 20px;
		}

			#about-main-inner h6 {
/*				color: #FFFFFF;
*/				font: 120px abril-display, serif;
				font-style: italic;
				margin: 0px;
		    }

		    #about-main-inner h3.about-question {
		    	margin: 0px;
		    }

		    #about-main-inner p.about-answer {
		    	margin-top: 0px;
		    	margin-bottom: 30px;
		    }


/* =============================================================================
   MY-WORK-GALLERY
   ========================================================================== */

#my-work-gallery {
	margin: 0 auto;
	width: 100%;
	height: 1000px;
	float: left;
	position: relative;
	display: block;
	background: url('../images/toriizuka-home.png') no-repeat scroll 50% 0% #FFFFFF;
	background-size: 100% 100%;
}
	
	#main-boxes {
		width: 1000px;
		margin: 0px auto;
		padding: 28px 0px;
	}

		#main-boxes ul {
			overflow: hidden;
		}

			#main-boxes ul li {
				float: left;
				width: 250px;
				height: 175px;
				list-style-type: none;
				position: relative;
				cursor: pointer;
				margin: 0 70px 40px 0;
			}

				#main-boxes ul li img {
					display: block;
					width: inherit;
					height: inherit;
					border: 5px solid #000;
				}

		/*Image titles*/
		#main-boxes .image_title {
			width: 260px; 
			height: 185px;
			background: rgba(0, 0, 0, 0.5);
			position: absolute;
			top: 0; left: 0;
			display: table;
			/*Hover effect - default state*/
			opacity: 0;
			transition: all 0.5s;
		}

		#main-boxes .title {
			color: #fff;
			background: rgba(0, 0, 0, 0.5);
			text-transform: uppercase;
			font-size: 14px;
			text-align: center;
			/*Vertical center align*/
			display: table-cell;
			vertical-align: middle;
			/*Hover effect - default state*/
			transform: scale(0.2);
			transition: all 0.25s;
		}

			/*Zoom icon over each title using iconfont and pseudo elements*/
			#main-boxes .title::before {
				content: 'L';
				font-family: websymbols;
				font-size: 24px;
				color: #fff;
				opacity: 0.5;
				display: block;
				line-height: 36px;
			}

		/*Hover states*/
		#main-boxes li:hover {
			box-shadow: inset 0 0 10px 1px rgba(0, 0, 0, 0.75);
		}

			#main-boxes li:hover .image_title {
				opacity: 1;
			}
			
			#main-boxes li:hover .title {
				transform: scale(1);
			}

/*Lightbox element style*/
.lb_backdrop {
	background: rgba(0, 0, 0, 0.9);
	position: fixed;
	top: 0; left: 0; right: 0; bottom: 0;
}

/*The canvas contains the larger image*/
.lb_canvas {
	background: white;
	width: 50px; height: 50px;
	position: fixed;
	top: 0; left: 0; /*Will be centered later by Jquery*/
	box-shadow: 0 0 20px 5px black;
	padding: 10px;
}

/*A separate class for loading GIF, for easy Jquery handling*/
.lb_canvas.loading {
	background: white url("http://thecodeplayer.com/uploads/media/loading.gif") center center no-repeat;
}

/*Lightbox Controls*/
.lb_controls {
	width: 400px; 
	background: rgba(0, 0, 0, 0.75);
	position: fixed;
	bottom: 10px;
	color: white;
	/*To horizontally center it*/
	left: 0; right: 0; margin: 0 auto; 
}

.lb_controls span {
	line-height: 30px;
	height: 30px;
}

.lb_controls span.inactive {
	opacity: 0.25;
}

.lb_previous, .lb_next {
	position: absolute;
	top: 0;
	padding: 5px 12px;
	font-family: websymbols;
	font-size: 14px;
	background: black;
	cursor: pointer;
}

.lb_previous {
	left: 0;
	border-right: 1px solid rgba(255, 255, 255, 0.1);
}

.lb_next {
	right: 0;
	border-left: 1px solid rgba(255, 255, 255, 0.1);
}

.lb_title {
	text-align: center;
	display: block;
	font-size: 14px;
	text-transform: uppercase;
	padding: 5px 0;
	font-weight: bold;
}


/* =============================================================================
   STRAIGHT-COMFORT
   ========================================================================== */
#straight-comfort-section {
	margin: 0 auto;
	width: 100%;
	height: 1100px;
	float: left;
	position: relative;
	display: block;
	background-color: #1EAEFC;
	background-size: 100% 100%;
}

	#straight-comfort-section #title-img {
    	position: absolute;
    	top: 0px;
    	width: 100%;
	}

		#title-img img {
			width: 500px;
			height: auto;
			display: block;
			margin-left: auto;
			margin-right: auto;
		}

	#straight-comfort-section #backdrop-img {
    	position: absolute;
    	top: 250px;
    	width: 100%;
	}

		#backdrop-img img {
			width: 1000px;
			height: auto;
			display: block;
			margin-left: auto;
			margin-right: auto;
		}

	#sub-title {
		position: absolute;
		top: 210px;
		width: 100%;
	}

		#sub-title h6 {
			color: white;
			text-align: center;
			font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
			font-size: 25px;
		}

	#background-cover {
		background-color: #dedede;
		height: 250px;
		width: inherit;
		position: absolute;
		top: 850px;
		-webkit-box-shadow: 0px 0px 8px rgba(0,0,0,.3);
        -moz-box-shadow: 0px 0px 8px rgba(0,0,0,.3);
        box-shadow: 0px 0px 8px rgba(0,0,0,.3);
		z-index: 100;
		border-color: #FFFFFF;
	}

		#background-cover #android {
			width: 450px;
			margin-left: auto;
			margin-right: auto;
			margin-top: 50px;
			display: block;
		}

			#android #android-github {
				display: inline;
				float: right;
				height: 200px;
				width: 200px;
				padding-left: 50px;
				padding-top: 10px;
				text-align: center;
				font-size: 20px;
			}